body {
    background-color: #000000;
    background-image: url(/static/img/redblue2.jpg);
    background-size: 800px;
    background-repeat: no-repeat;
}

h1, h2, h3, h4, h5, h6, p {
    color: #FFFFFF;
}

h3 {
    text-indent: 50px;
}