body {
    background-color: #000000;
    background-image: url(/static/img/orange.png);
    background-size: cover;
    background-repeat: no-repeat;
}

h1, h2, h3, h4, h5, h6, p {
    color: #FFFFFF;
}

h3 {
    text-indent: 50px;
}

meter {
  
    margin: 2 auto 1.5em;
    width: 220px;
    height: 15;
  }
  
