{% extends "public/templates/public_template.html" %}

{%block title%}System Stats{%endblock%}

{%block main%}

<body>

<h1><strong>GPU:</strong> {{ gpu }}</h1>

<h1><strong>GPU Memory Usage:</strong> {{ gpu_memory_usage }}</h1>

<h1><strong>GPU Memory Available:</strong> {{ gpu_memory_free }}</h1>

<h1><strong>GPU Temperature:</strong> {{ gpu_current_temp }}</h1>

<h1><strong>GPU Power Usage:</strong> {{ gpu_power_usage }}</h1>

<h1><strong>GPU Clock Speed:</strong> {{ gpu_clock_speed }}</h1>

</body>

{%endblock%}

