{% extends "public/templates/public_template.html" %}

{%block title%}System Stats{%endblock%}

{%block main%}

<body>

<div id="gpustats">
    <h1><strong>GPU:</strong> {{ gpu }}</h1>
    <br>
    <h3><strong>Memory Usage:</strong> {{ gpu_memory_usage }}</h1>
    <h3><strong>Memory Available:</strong> {{ gpu_memory_free }}</h1>
    <h3><strong>Temperature:</strong> {{ gpu_current_temp }}</h1>
    <h3><strong>Power Usage:</strong> {{ gpu_power_usage }}</h1>
    <h3><strong>Clock Speed:</strong> {{ gpu_clock_speed }}</h1>
    <br>
</div>

<div id="cpustats">
    <h1><strong>CPU:</strong> AMD Ryzen 9 5950X</h1>
    <br>
    <h3><strong>CPU Temperature:</strong> {{ cpu_current_temp }} C</h3>
    <h3><strong>CPU Load:</strong> {{ cpu_load }} %</h3>
    <meter id="cpu_load"
       min="0" max="100"
       low="0" high="50" optimum="10"
       value={{ cpu_current_temp }}>
    </meter>
</div>

</body>
{%endblock%}